RemoteDesktop/RemoteDesktop/Web References/RemoteWeb/RemoteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="winLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="winPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendRequestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPendingJobList">
        <s:complexType />
      </s:element>
      <s:element name="getPendingJobListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPendingJobListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="startJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_RequestID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_EmployeeID" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="startJobResponse">
        <s:complexType />
      </s:element>
      <s:element name="DoneJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_RequestID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoneJobResponse">
        <s:complexType />
      </s:element>
      <s:element name="CustomerInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expiryDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expiryDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerUpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="CustomerDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="CustomerSelectCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Where" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerSelectCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerSelectCustomResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isActive" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isFree" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="employeeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isActive" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="isFree" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeUpdateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeSelectCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="where" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeSelectCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeSelectCustomResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="SendRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SendRequest" />
  </wsdl:message>
  <wsdl:message name="SendRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateEmployee" />
  </wsdl:message>
  <wsdl:message name="AuthenticateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="getPendingJobListSoapIn">
    <wsdl:part name="parameters" element="tns:getPendingJobList" />
  </wsdl:message>
  <wsdl:message name="getPendingJobListSoapOut">
    <wsdl:part name="parameters" element="tns:getPendingJobListResponse" />
  </wsdl:message>
  <wsdl:message name="startJobSoapIn">
    <wsdl:part name="parameters" element="tns:startJob" />
  </wsdl:message>
  <wsdl:message name="startJobSoapOut">
    <wsdl:part name="parameters" element="tns:startJobResponse" />
  </wsdl:message>
  <wsdl:message name="DoneJobSoapIn">
    <wsdl:part name="parameters" element="tns:DoneJob" />
  </wsdl:message>
  <wsdl:message name="DoneJobSoapOut">
    <wsdl:part name="parameters" element="tns:DoneJobResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerInsertSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerInsert" />
  </wsdl:message>
  <wsdl:message name="CustomerInsertSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerInsertResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerUpdate" />
  </wsdl:message>
  <wsdl:message name="CustomerUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerDelete" />
  </wsdl:message>
  <wsdl:message name="CustomerDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerSelectCustomSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerSelectCustom" />
  </wsdl:message>
  <wsdl:message name="CustomerSelectCustomSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerSelectCustomResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeInsertSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeInsert" />
  </wsdl:message>
  <wsdl:message name="EmployeeInsertSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeInsertResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeUpdate" />
  </wsdl:message>
  <wsdl:message name="EmployeeUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeDelete" />
  </wsdl:message>
  <wsdl:message name="EmployeeDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeSelectCustomSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeSelectCustom" />
  </wsdl:message>
  <wsdl:message name="EmployeeSelectCustomSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeSelectCustomResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="clsRemoteWebServiceSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRequest">
      <wsdl:input message="tns:SendRequestSoapIn" />
      <wsdl:output message="tns:SendRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateEmployee">
      <wsdl:input message="tns:AuthenticateEmployeeSoapIn" />
      <wsdl:output message="tns:AuthenticateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPendingJobList">
      <wsdl:input message="tns:getPendingJobListSoapIn" />
      <wsdl:output message="tns:getPendingJobListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="startJob">
      <wsdl:input message="tns:startJobSoapIn" />
      <wsdl:output message="tns:startJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoneJob">
      <wsdl:input message="tns:DoneJobSoapIn" />
      <wsdl:output message="tns:DoneJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerInsert">
      <wsdl:input message="tns:CustomerInsertSoapIn" />
      <wsdl:output message="tns:CustomerInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <wsdl:input message="tns:CustomerUpdateSoapIn" />
      <wsdl:output message="tns:CustomerUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <wsdl:input message="tns:CustomerDeleteSoapIn" />
      <wsdl:output message="tns:CustomerDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerSelectCustom">
      <wsdl:input message="tns:CustomerSelectCustomSoapIn" />
      <wsdl:output message="tns:CustomerSelectCustomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeInsert">
      <wsdl:input message="tns:EmployeeInsertSoapIn" />
      <wsdl:output message="tns:EmployeeInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeUpdate">
      <wsdl:input message="tns:EmployeeUpdateSoapIn" />
      <wsdl:output message="tns:EmployeeUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <wsdl:input message="tns:EmployeeDeleteSoapIn" />
      <wsdl:output message="tns:EmployeeDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeSelectCustom">
      <wsdl:input message="tns:EmployeeSelectCustomSoapIn" />
      <wsdl:output message="tns:EmployeeSelectCustomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clsRemoteWebServiceSoap" type="tns:clsRemoteWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequest">
      <soap:operation soapAction="http://tempuri.org/SendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateEmployee">
      <soap:operation soapAction="http://tempuri.org/AuthenticateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingJobList">
      <soap:operation soapAction="http://tempuri.org/getPendingJobList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startJob">
      <soap:operation soapAction="http://tempuri.org/startJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoneJob">
      <soap:operation soapAction="http://tempuri.org/DoneJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerInsert">
      <soap:operation soapAction="http://tempuri.org/CustomerInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <soap:operation soapAction="http://tempuri.org/CustomerUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <soap:operation soapAction="http://tempuri.org/CustomerDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSelectCustom">
      <soap:operation soapAction="http://tempuri.org/CustomerSelectCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeInsert">
      <soap:operation soapAction="http://tempuri.org/EmployeeInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeUpdate">
      <soap:operation soapAction="http://tempuri.org/EmployeeUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <soap:operation soapAction="http://tempuri.org/EmployeeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeSelectCustom">
      <soap:operation soapAction="http://tempuri.org/EmployeeSelectCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clsRemoteWebServiceSoap12" type="tns:clsRemoteWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRequest">
      <soap12:operation soapAction="http://tempuri.org/SendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateEmployee">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPendingJobList">
      <soap12:operation soapAction="http://tempuri.org/getPendingJobList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startJob">
      <soap12:operation soapAction="http://tempuri.org/startJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoneJob">
      <soap12:operation soapAction="http://tempuri.org/DoneJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerInsert">
      <soap12:operation soapAction="http://tempuri.org/CustomerInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpdate">
      <soap12:operation soapAction="http://tempuri.org/CustomerUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerDelete">
      <soap12:operation soapAction="http://tempuri.org/CustomerDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerSelectCustom">
      <soap12:operation soapAction="http://tempuri.org/CustomerSelectCustom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeInsert">
      <soap12:operation soapAction="http://tempuri.org/EmployeeInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeUpdate">
      <soap12:operation soapAction="http://tempuri.org/EmployeeUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <soap12:operation soapAction="http://tempuri.org/EmployeeDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeSelectCustom">
      <soap12:operation soapAction="http://tempuri.org/EmployeeSelectCustom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clsRemoteWebService">
    <wsdl:port name="clsRemoteWebServiceSoap" binding="tns:clsRemoteWebServiceSoap">
      <soap:address location="http://localhost:45451/RemoteService.asmx" />
    </wsdl:port>
    <wsdl:port name="clsRemoteWebServiceSoap12" binding="tns:clsRemoteWebServiceSoap12">
      <soap12:address location="http://localhost:45451/RemoteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>